.App {
  background: #f0f8ff;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App main {
  display: flex;
  flex-direction: row;
  max-height: 768px;
  max-width: 1360px;
  height: calc(100vh - 30px);
  width: calc(100vw - 30px);
}